.name {
    text-indent: 120px;
}

.stu {
    text-indent: 120px;
}

.int {
    font-size: 23px;
    margin-left: 20px;
}

.expert {
    text-indent: 40px;
    color: brown;
}

.contact {
    text-indent: 35px;
    color: brown;
}

.Details {
    text-indent: 22px;
}

.co {
    text-indent: 30px;
    color: brown;
}

.p1 {
    margin-left: 20px;
    text-align: 10px;
}

.left {
    text-align: 25px;
}

.co {
    text-align: 25px;
}

.sa {
    text-align: 30px;
}

.col {
    text-align: 15px;
}

.sch {
    text-align: 25px
}

.vi {
    text.align: 15px;
}